= form_with model: todo do |f|
  %div
    = f.label :title
    = f.text_field :title
  %div
    = f.label :description
    = f.text_area :description
  %div
    = f.label :expired_at
    = f.date_field :expired_at
  %div
    = f.submit 'add'
