.user-form
  = form_with model: user, url: sign_up_path, local: true do |f|
    .user-form__group
      .user-form__input-area
        = f.label :email
        = f.text_field :email, class: 'user-form__input-text'
    .user-form__group
      .user-form__input-area
        = f.label :password
        = f.password_field :password, class: 'user-form__input-text'
    .user-form__group
      .user-form__input-area
        = f.label :password_confirmation
        = f.password_field :password_confirmation, class: 'user-form__input-text'
    .user-form__group
      .user-form__input-area.user-form__submit-area
        = f.submit 'sign up', class: 'user-form__submit-button'
