!!! 5
%html
  %head
    %title TODO App
    %meta{charset: "utf-8"}
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

  %body
    %header.app-header
      %h1.app-header__title TODO App
      %span.app-header__user
        - if current_user
          = current_user.try(:email)
          = link_to 'sign out', sign_out_path, method: :delete
        - else
          = link_to 'sing in', sign_in_path
    = yield
