!!! 5
%html
  %head
    %title TODO App
    %meta{charset: "utf-8"}
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true

  %body
    %header.app-header
      .app-header__content
        %h1.app-header__title
          = link_to 'TODO App', root_path
        %span.app-header__user
          - if current_user
            = current_user.try(:email)
            = link_to 'sign out', sign_out_path, method: :delete
          - else
            = link_to 'sing in', sign_in_path
    .main
      .main__content
        = yield
    = javascript_include_tag 'application'
